
@import URL(https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap);
@import URL(https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300&display=swap);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: #ffffff;
}


#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background: url("../../multimedia/f1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor-body h1 {
  text-shadow: 2px 8px 8px rgba(0, 0, 0, 0.8);
}

#hero h1 {
  color: white;
}

button {
  background-color: red;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 15px;
  border: 2px solid rgb(126, 39, 39);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: rgb(181, 70, 70);
}

/* Estilo de la sección #f1-shop */
#f1-shop {
  background-color: #0d0d0d;
  padding: 50px 0;
  text-align: center;
}

/* Contenedor de información en #f1-shop */
.contenedor-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  background-color: black;
  color: white;
}

/* Estilo de la imagen dentro de contenedor-info */
.img-sobre-nosotros {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  max-height: 600px;
}

.redbull {
  max-width: 100%;
  height: auto;
}

/* Estilo del texto en #about-us */
#about-us {
  flex: 2;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  color: white;
}
